.main{
    width: 500px;
    height: 300px;
    background: lightsalmon;
}

.newClass1{

    background: khaki;
}
.newClass2{

    background: rgb(140, 172, 240);
}
.newClass3{

    background: rgb(243, 116, 211);
}
.newClass4{

    background: rgb(37, 28, 112);
}
